In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import json

import warnings
warnings.simplefilter("ignore")

In [13]:
data1 = pd.read_csv("./data/估价训练数据.txt", sep="\t", header=None)
data2 = pd.read_csv("./data/门店交易训练数据.txt", sep="\t", header=None)

In [14]:
data1_col = ["carid", "tradeTime", "brand", "serial", "model", "mileage", "color",
           "cityId", "carCode", "transferCount", "seatings", "registerDate", "licenseDate", "country",
           "maketype", "modelyear", "displacement", "gearbox", "oiltype", "newprice", ] + [f"anonymousFeature{n}" for n in range(1, 16)] + ["price"]
data2_col = ["carid", "pushDate", "pushPrice", "updatePriceTimeJson", "pullDate", "withdrawDate"]
data1.columns = data1_col
data2.columns = data2_col

In [15]:
data = pd.merge(data1, data2, on="carid", how="inner") # 合并两个数据集
data.head()

,carid,tradeTime,brand,serial,model,mileage,color,cityId,carCode,transferCount,...,anonymousFeature12,anonymousFeature13,anonymousFeature14,anonymousFeature15,price,pushDate,pushPrice,updatePriceTimeJson,pullDate,withdrawDate
0,2,2021-06-25,2,2,2,8.60,1,2,1.0,0,...,4630*1775*1480,201609.0,2,NaN,7.38,2021-06-25,7.38,{},2021-07-23,2021-07-23
1,6,2021-06-29,6,6,6,6.04,1,3,1.0,3,...,4500*1834*1707,201608.0,2,NaN,4.38,2021-06-29,4.38,{},2021-06-30,2021-06-30
2,7,2021-06-30,7,7,7,5.70,4,1,2.0,2,...,4315*1783*1606,201204.0,1,NaN,5.90,2021-06-30,5.90,{},2021-07-19,2021-07-19
3,10,2021-06-08,2,10,10,13.02,1,2,3.0,1,...,4285*1690*1450,NaN,1,NaN,1.49,2021-06-08,1.49,{},2021-06-08,2021-06-08
4,12,2021-06-16,10,12,12,7.03,5,3,2.0,0,...,4150*1640*1535,201005.0,2,NaN,0.30,2021-04-22,0.88,"{""2021-04-26"": ""0.78"", ""2021-06-15"": ""0.45"", ""...",2021-06-16,2021-06-16

In [16]:
data["updatePriceTimeJson"] = data["updatePriceTimeJson"].apply(json.loads)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   carid                10000 non-null  int64
 1   tradeTime            10000 non-null  object
 2   brand                10000 non-null  int64
 3   serial               10000 non-null  int64
 4   model                10000 non-null  int64
 5   mileage              10000 non-null  float64
 6   color                10000 non-null  int64
 7   cityId               10000 non-null  int64
 8   carCode              9994 non-null   float64
 9   transferCount        10000 non-null  int64
 10  seatings             10000 non-null  int64
 11  registerDate         10000 non-null  object
 12  licenseDate          10000 non-null  object
 13  country              8616 non-null   float64
 14  maketype             8655 non-null   float64
 15  modelyear            9904 non-null   float64
 16  displacement         10000 non-null  float64
 17  gearbox              9999 non-null   float64
 18  oiltype              10000 non-null  int64
 19  newprice             10000 non-null  float64
 20  anonymousFeature1    9495 non-null   float64
 21  anonymousFeature2    10000 non-null  int64
 22  anonymousFeature3    10000 non-null  int64
 23  anonymousFeature4    6092 non-null   float64
 24  anonymousFeature5    10000 non-null  int64
 25  anonymousFeature6    10000 non-null  int64
 26  anonymousFeature7    3383 non-null   object
 27  anonymousFeature8    8605 non-null   float64
 28  anonymousFeature9    8622 non-null   float64
 29  anonymousFeature10   7828 non-null   float64
 30  anonymousFeature11   9824 non-null   object
 31  anonymousFeature12   10000 non-null  object
 32  anonymousFeature13   9397 non-null   float64
 33  anonymousFeature14   10000 non-null  int64
 34  anonymousFeature15   752 non-null    object
 35  price                10000 non-null  float64
 36  pushDate             10000 non-null  object
 37  pushPrice            10000 non-null  float64
 38  updatePriceTimeJson  10000 non-null  object
 39  pullDate             10000 non-null  object
 40  withdrawDate         8000 non-null   object
dtypes: float64(16), int64(14), object(11)
memory usage: 3.2+ MB

In [18]:
data[["pushDate", "pullDate", "withdrawDate"]] = data[["pushDate", "pullDate", "withdrawDate"]].applymap(lambda x: pd.to_datetime(x))

,carid,tradeTime,brand,serial,model,mileage,color,cityId,carCode,transferCount,...,anonymousFeature12,anonymousFeature13,anonymousFeature14,anonymousFeature15,price,pushDate,pushPrice,updatePriceTimeJson,pullDate,withdrawDate
0,2,2021-06-25,2,2,2,8.60,1,2,1.0,0,...,4630*1775*1480,201609.0,2,NaN,7.38,2021-06-25,7.38,{},2021-07-23,2021-07-23
1,6,2021-06-29,6,6,6,6.04,1,3,1.0,3,...,4500*1834*1707,201608.0,2,NaN,4.38,2021-06-29,4.38,{},2021-06-30,2021-06-30
2,7,2021-06-30,7,7,7,5.70,4,1,2.0,2,...,4315*1783*1606,201204.0,1,NaN,5.90,2021-06-30,5.90,{},2021-07-19,2021-07-19
3,10,2021-06-08,2,10,10,13.02,1,2,3.0,1,...,4285*1690*1450,NaN,1,NaN,1.49,2021-06-08,1.49,{},2021-06-08,2021-06-08
4,12,2021-06-16,10,12,12,7.03,5,3,2.0,0,...,4150*1640*1535,201005.0,2,NaN,0.30,2021-04-22,0.88,"{'2021-04-26': '0.78', '2021-06-15': '0.45', '...",2021-06-16,2021-06-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,46121,2020-05-25,8,8,8,10.00,5,1,2.0,0,...,4415*1674*1415,201003.0,2,NaN,2.80,2020-05-25,2.80,{},2020-05-26,NaT
9996,8883,2021-03-20,12,275,2606,9.21,1,1,1.0,1,...,4845*1805*1695,201507.0,1,NaN,18.60,2021-02-26,19.80,"{'2021-03-18': '18.9', '2021-03-20': '18.6'}",2021-03-20,NaT
9997,63828,2021-05-26,20,209,11210,4.17,5,1,1.0,0,...,4449*1804*1535,201903.0,2,NaN,19.30,2021-05-04,19.60,{'2021-05-26': '19.3'},2021-06-16,NaT
9998,5526,2020-12-17,1,59,1994,4.80,1,16,1.0,0,...,4032*1680*1470,201609.0,2,NaN,2.44,2020-12-17,2.44,{},2020-12-20,NaT
9999,55499,2021-04-05,12,275,1023,1.20,1,1,1.0,0,...,4845*1805*1695,201702.0,1,NaN,24.58,2021-04-05,24.58,{},2021-04-28,NaT

In [22]:
# 删除没有卖出去的数据
data.drop(data[data["withdrawDate"].isnull()].index, inplace=True)

In [32]:
data["timedelta"] = (data["withdrawDate"] - data["pushDate"]).dt.days
data["timedelta"] = data["timedelta"].apply(lambda x: x if x > 0 else 0)

In [33]:
data["timedelta"].describe()

count    8000.000000
mean       21.534375
std        27.046872
min         0.000000
25%         5.000000
50%        13.000000
75%        28.000000
max       263.000000
Name: timedelta, dtype: float64

可以看到成交周期最高为263天。平均为21天左右

In [34]:
data

,carid,tradeTime,brand,serial,model,mileage,color,cityId,carCode,transferCount,...,anonymousFeature13,anonymousFeature14,anonymousFeature15,price,pushDate,pushPrice,updatePriceTimeJson,pullDate,withdrawDate,timedelta
0,2,2021-06-25,2,2,2,8.60,1,2,1.0,0,...,201609.0,2,NaN,7.38,2021-06-25,7.38,{},2021-07-23,2021-07-23,28
1,6,2021-06-29,6,6,6,6.04,1,3,1.0,3,...,201608.0,2,NaN,4.38,2021-06-29,4.38,{},2021-06-30,2021-06-30,1
2,7,2021-06-30,7,7,7,5.70,4,1,2.0,2,...,201204.0,1,NaN,5.90,2021-06-30,5.90,{},2021-07-19,2021-07-19,19
3,10,2021-06-08,2,10,10,13.02,1,2,3.0,1,...,NaN,1,NaN,1.49,2021-06-08,1.49,{},2021-06-08,2021-06-08,0
4,12,2021-06-16,10,12,12,7.03,5,3,2.0,0,...,201005.0,2,NaN,0.30,2021-04-22,0.88,"{'2021-04-26': '0.78', '2021-06-15': '0.45', '...",2021-06-16,2021-06-16,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,74096,2021-07-08,23,260,12722,1.03,5,2,4.0,0,...,201810.0,1,NaN,10.98,2021-07-08,10.98,{},2021-07-10,2021-07-10,2
7996,74116,2021-04-17,8,101,122,13.24,1,17,2.0,0,...,200903.0,1,NaN,3.20,2021-04-17,3.20,{},2021-04-19,2021-04-19,2
7997,74136,2021-01-20,11,186,12734,2.37,4,19,1.0,0,...,201710.0,1,NaN,13.50,2021-01-20,13.50,{},2021-01-27,2021-01-27,7
7998,74140,2020-12-26,11,186,12734,3.12,1,7,1.0,0,...,201710.0,1,2038-12-24,14.30,2020-12-25,14.50,{'2020-12-26': '14.3'},2021-01-13,2021-01-13,19
7999,74156,2020-08-13,18,510,12735,4.24,5,17,1.0,0,...,201510.0,2,NaN,54.00,2020-08-05,59.99,{'2020-08-13': '54'},2020-08-21,2020-08-21,16